//-
	Rule the words! KKuTu Online
	Copyright (C) 2017 JJoriping(op@jjo.kr)
	
	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.
	
	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.
	
	You should have received a copy of the GNU General Public License
	along with this program. If not, see <http://www.gnu.org/licenses/>.
    
extends layout

block Subject
  title= L('COMMUNITY') + " - " + L('TITLE_NAME')

block CSS
  link(rel='stylesheet', href='/css/community.css')

block Middle
  +separator(5)
  .container.community-write-container
    h1= isDraft ? '글 수정' : '새 글 작성'

    form#write-form
      .form-group
        label(for='category') 카테고리
        select#category.form-control(name='category')
          each category in categories
            option(value=category._id)= category.name

      .form-group
        label(for='title') 제목
        input#title.form-control(type='text', name='title', placeholder='제목을 입력하세요...', required=true)

      .form-group
        label(for='content') 내용
        textarea#content.form-control(name='content', placeholder='내용을 입력하세요...', rows='15', required=true)

      .form-actions
        button.btn.btn-primary(type='button', onclick='submitPost()') 
          = isDraft ? '수정' : '작성'
        a.btn.btn-secondary(href='/community') 취소

script.
  function submitPost() {
    const categoryId = document.getElementById('category').value;
    const title = document.getElementById('title').value;
    const content = document.getElementById('content').value;

    if (!categoryId || !title || !content) {
      alert('모든 필드를 입력하세요.');
      return;
    }

    const postData = {
      categoryId: parseInt(categoryId),
      title: title,
      content: content
    };

    fetch('/api/community/post', {
      method: 'POST',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify(postData)
    })
    .then(res => res.json())
    .then(data => {
      if (data.success) {
        window.location.href = `/community/post/${data.postId}`;
      } else {
        alert(data.error || '작성 실패');
      }
    })
    .catch(err => {
      alert('오류가 발생했습니다: ' + err.message);
    });
  }
