//-
	Rule the words! KKuTu Online
	Copyright (C) 2017 JJoriping(op@jjo.kr)
	
	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.
	
	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.
	
	You should have received a copy of the GNU General Public License
	along with this program. If not, see <http://www.gnu.org/licenses/>.
    
extends layout

block Subject
  title= post.title + " - " + L('COMMUNITY') + " - " + L('TITLE_NAME')

block CSS
  link(rel='stylesheet', href='/css/community.css')

block Middle
  +separator(5)
  .container.community-post-container
    .post-header
      .post-title-section
        if post.is_pinned
          span.badge.badge-danger PINNED
        h1= post.title
        .post-info
          span.post-author= post.author
          span.post-date= new Date(post.created_at * 1000).toLocaleString('ko-KR')
          if post.updated_at > post.created_at
            span.post-updated (수정됨: #{new Date(post.updated_at * 1000).toLocaleString('ko-KR')})
          span.post-views 조회 #{post.views || 0}

      if user && (user._id === post.author || user.admin)
        .post-actions
          a.btn.btn-sm.btn-warning(href=`/community/write?id=${post._id}`) 수정
          button.btn.btn-sm.btn-danger(onclick=`deletePost(${post._id})`) 삭제

    .post-content
      = post.content

    .post-footer
      .post-likes
        button.btn.btn-sm(onclick=`togglePostLike(${post._id})`, id=`like-btn-${post._id}`)
          span.like-count= post.likes || 0
          span 좋아요

    .comments-section
      h3 댓글 (#{comments.length})

      if user
        .comment-form
          textarea#comment-content(placeholder='댓글을 입력하세요...', rows='3')
          button.btn.btn-primary.btn-sm(onclick=`submitComment(${post._id})`) 댓글 작성

      if comments && comments.length > 0
        .comments-list
          each comment in comments
            .comment-item(data-id=comment._id)
              .comment-header
                span.comment-author= comment.author
                span.comment-date= new Date(comment.created_at * 1000).toLocaleString('ko-KR')
                if user && (user._id === comment.author || user.admin)
                  .comment-actions
                    button.btn.btn-xs(onclick=`editComment(${comment._id})`) 수정
                    button.btn.btn-xs.btn-danger(onclick=`deleteComment(${comment._id})`) 삭제

              .comment-content= comment.content

              .comment-likes
                button.btn.btn-xs(onclick=`toggleCommentLike(${comment._id})`)
                  span.like-count= comment.likes || 0
                  span 좋아요
      else
        .empty-message
          p 댓글이 없습니다.

    .back-button
      a.btn.btn-secondary(href='/community') 목록으로 돌아가기

script.
  function togglePostLike(postId) {
    fetch(`/api/community/post/${postId}/like`, {
      method: 'POST',
      headers: { 'Content-Type': 'application/json' }
    })
    .then(res => res.json())
    .then(data => {
      if (data.success) {
        location.reload();
      }
    });
  }

  function toggleCommentLike(commentId) {
    fetch(`/api/community/comment/${commentId}/like`, {
      method: 'POST',
      headers: { 'Content-Type': 'application/json' }
    })
    .then(res => res.json())
    .then(data => {
      if (data.success) {
        location.reload();
      }
    });
  }

  function submitComment(postId) {
    const content = document.getElementById('comment-content').value;
    if (!content) {
      alert('댓글 내용을 입력하세요.');
      return;
    }

    fetch('/api/community/comment', {
      method: 'POST',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify({ postId, content })
    })
    .then(res => res.json())
    .then(data => {
      if (data.success) {
        location.reload();
      } else {
        alert(data.error || '댓글 작성 실패');
      }
    });
  }

  function deleteComment(commentId) {
    if (!confirm('정말 삭제하시겠습니까?')) return;

    fetch(`/api/community/comment/${commentId}/delete`, {
      method: 'POST',
      headers: { 'Content-Type': 'application/json' }
    })
    .then(res => res.json())
    .then(data => {
      if (data.success) {
        location.reload();
      } else {
        alert(data.error || '삭제 실패');
      }
    });
  }

  function deletePost(postId) {
    if (!confirm('정말 삭제하시겠습니까?')) return;

    fetch(`/api/community/post/${postId}/delete`, {
      method: 'POST',
      headers: { 'Content-Type': 'application/json' }
    })
    .then(res => res.json())
    .then(data => {
      if (data.success) {
        window.location.href = '/community';
      } else {
        alert(data.error || '삭제 실패');
      }
    });
  }
