//-
	Rule the words! KKuTu Online
	Copyright (C) 2017 JJoriping(op@jjo.kr)
	
	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.
	
	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.
	
	You should have received a copy of the GNU General Public License
	along with this program. If not, see <http://www.gnu.org/licenses/>.
    
extends layout

block Subject
  title= L('COMMUNITY') + " - " + L('TITLE_NAME')

block CSS
  link(rel='stylesheet', href='/css/community.css')

block Middle
  +separator(5)
  .container.community-container
    .community-header
      h1 커뮤니티
      p 게임 이용자들과 정보를 나누는 공간입니다.

    .row
      .col-md-3
        .category-menu
          h4 카테고리
          ul.category-list
            each category in categories
              li
                a(href=`/community?categoryId=${category._id}`, class=category._id === currentCategory ? 'active' : '')
                  span.icon= category.icon
                  span.name= category.name

      .col-md-9
        .posts-section
          .posts-header
            h3= currentCategoryName || '카테고리'
            if user
              a.btn.btn-primary.btn-sm(href='/community/write') 글쓰기

          if posts && posts.length > 0
            .posts-list
              each post in posts
                .post-item(data-id=post._id)
                  .post-title-row
                    if post.is_pinned
                      span.badge.badge-danger PINNED
                    a.post-title(href=`/community/post/${post._id}`)= post.title
                    span.post-comments (댓글 #{post.comment_count || 0})
                  .post-meta
                    span.post-author= post.author
                    span.post-date= new Date(post.created_at * 1000).toLocaleDateString('ko-KR')
                    span.post-views 조회 #{post.views || 0}

            .pagination
              if currentPage > 1
                a.page-link(href=`?categoryId=${currentCategory}&page=${currentPage - 1}`) 이전
              each pageNum in Array.from({length: totalPages}, (_, i) => i + 1)
                a.page-link(href=`?categoryId=${currentCategory}&page=${pageNum}`, class=pageNum === currentPage ? 'active' : '')= pageNum
              if currentPage < totalPages
                a.page-link(href=`?categoryId=${currentCategory}&page=${currentPage + 1}`) 다음
          else
            .empty-message
              p 아직 게시글이 없습니다.
              if user
                a.btn.btn-primary.btn-sm(href='/community/write') 첫 번째 글 작성하기
